<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  
  <main>
    <h1><%= title %></h1>
    <p>Hello <%= user.fullname %></p>
    <form action="/posts/create" method="POST">
      <label for="subject">Subject</label>
      <input name="subject" type="text" value="<%= locals.subject===undefined ? '' : subject %>" />
      <label for="message">Message</label>
      <input name="message" type="textarea" value="<%= locals.message===undefined ? '' : message %>" />
      <button type="submit">Post</button>
    </form>

    <a href="/">Home</a>

    <% if (locals.errors) { %>
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>
</html>